//loading mixins and variable
@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;
footer {
  background-color: transparent;
  @include utils.size(100%, 5rem);
  @include utils.flex;
  justify-content: space-between;
  border-top: 1px solid vars.$lineColor;
  background: transparent;
  padding-inline: 2.2rem;
  // background: green;

  //
  .footer {
    &-media,
    &-github {
      display: flex;
      color: vars.$grey;

      svg {
        @include utils.size(100%, 5rem);
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        color: darken(vars.$grey, 15%);

        &:hover {
          color: vars.$grey;
        }
      }
    }
  }
}
