@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;

nav {
  background-color: transparent;
  @include utils.size(100vw, 5.6191rem);
  @include utils.flex;
  justify-content: space-between;
  border-bottom: 1px solid vars.$lineColor;

  div {
    @include utils.flex;

    //styling navbar link items
    .navbar-link,
    a {
      @include utils.formatText(450, 1.6rem);
      width: max-content;
      padding-inline: 3.2rem;
      padding-block: 1.7rem;
      @include utils.flex;
      border-right: 1px solid vars.$lineColor;
      color: vars.$grey;
      transition: all 0.25s ease-in-out;
      position: relative;
      color: vars.$grey;
      cursor: pointer;

      &:hover {
        background-color: vars.$blueHover;
        color: white;
      }
     }
  }

  .underline {
    position: absolute;
    left: 0;
    right: 0;
    // top: 80%;
    display: block;
    height: 0.3rem;
    // width: 100%;
    background: vars.$orange;
    bottom: -0.3rem;
  }

  .links-group {
    a:first-child {
      width: 31.1rem;
      justify-content: flex-start;
    }
  }
}
