//loading mixins and variable
@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;
button {
  border-bottom: 1px solid darken(vars.$orange, 10%);
  position: relative;
  cursor: pointer;
  &::after {
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
    display: block;
    position: absolute;
    @include utils.positioning(0, 115%);
    content: "";
    @include utils.size(100%, 0.1rem);
    background-color: darken(vars.$orange, 10%);
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
}
