/***********************************************Importing other stylesheets***********************************************/

@use "layout";
@use "screens";

//importing utilities
@use "utils/mixins" as utils;
@use "utils/variables" as vars;

//styling links
a {
  text-decoration: none;
}

//all components
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Configuring html
html {
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  background-color: vars.$white;
  overflow: hidden;
  @include utils.size(100vw, 100vh);
  @include utils.size(100vw, 100%);
  background: vars.$blueDarkest;
  @include utils.flex;
  padding: 3rem;
  @media only screen and (width < 1300px) {
    padding: 1.5rem;
  }
  @media only screen and (width < 768px) {
    padding: 0.5rem;
  }
}

body {
  font-size: 1.6em;
  min-width: 32rem;
  background-color: vars.$blueDark;
  background:
    url("/background-blurs.svg") no-repeat,
    vars.$blueDark;
  background-position: 100% 0;
  background-size: 60%;
  @include utils.size(100%);
  border-radius: 0.8rem;
  border: 0.1rem solid vars.$lineColor;
  overflow: inherit;
  main {
    @include utils.size(100%, calc(100% - 10.5rem));
    background: transparent;
    @media only screen and (width < 1300px) {
      @include utils.size(100%, calc(100% - 7.125rem - 5rem));
    }
  }
}
