$lineColor: #1e2d3d;
$grey: #607b96;
$blueHover: #1e2d3d74;
$blueDark: #011627;
$blueDarkest: #010c15;
$orange: #fea55f;
$white: #fff;
$milkyWhite: #e5e9f0;
$indigo: #4d5bce;
$lightGreen: #43D9AD;
$lightBrown: #E99287;
