//loading mixins and variable
@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;

.portfolio-about {
  @include utils.size(100%);
  @include utils.flex;
  overflow: hidden;

  //navigation bar (aside)
  aside {
    background-color: transparent;
    @include utils.size(31.1rem, 100%);
    @include utils.flex(column);
    justify-content: flex-start;
    min-width: 31.1rem;
    margin-top: 1rem;
    border-right: 1px solid vars.$lineColor;

    span {
      @include utils.formatText(400, 1.6rem);
      @include utils.flex;
      justify-content: flex-start;
      gap: 1rem;
      padding: 1rem 2rem;
      color: vars.$grey;
      cursor: pointer;
      transition: color 0.25s ease-in-out;
      text-align: left;
      width: 100%;

      &:hover,
      &:is(.active) {
        color: vars.$white;
        svg {
          color: lighten(vars.$grey, 10%);
        }
      }

      //text icons
      svg {
        @include utils.size(2.4rem);
        color: darken(vars.$grey, 15%);
        transition: all 0.25s ease-in-out;
      }
    }
  }

  //main content for swipers
  section {
    @include utils.size(100%);
    @include utils.flex;
  }

  //swiper
  .swiper {
    @include utils.size(100%);
  }
  .swipper-wrapper {
    @include utils.flex;
  }

  .swiper-slide {
    text-align: center;
    padding-inline: 4rem;
    @include utils.flex(column);
    position: relative;

    div,
    section {
      @include utils.size(100%);
      @include utils.flex(column);
      gap: 4rem;
    }
  }

  .swiper-pagination-bullet {
    background: vars.$white;
  }
}
