//loading mixins and variable
@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;

.portfolio-about {
  @include utils.size(100%);
  @include utils.flex;
  overflow: hidden;
  @media only screen and (width < 1300px) {
    flex-direction: column;
    // overflow-y: scroll;
    justify-content: flex-start;
    gap: 0rem;
    display: block;
  }

  /************************************************SIDE NAVIGATION SECTION************************************************/

  aside {
    position: relative;
    background-color: vars.$blueDark;
    @include utils.size(31.1rem, 100%);
    @include utils.flex;
    margin-top: 1rem;

    //hiding plus icon large screens
    .plus-icon {
      @include utils.size(2.5rem);
      @include utils.positioning(3rem, 20%, right);
      z-index: 999;
      cursor: pointer;

      svg {
        @include utils.size(inherit);
        transition: fill 0.25s ease-in-out;
        color: vars.$grey;

        &:hover {
          color: vars.$white;
        }
      }
      display: none;
    }

    @media only screen and (width < 1300px) {
      margin-top: 0;
      @include utils.size(100%, 4.4rem);
      .plus-icon {
        display: block;
      }
    }
  }
  /************************************************SIDE NAVIGATION SUB-SECTION************************************************/

  .side-navigation {
    background-color: inherit;
    @include utils.size(31.1rem, 100%);
    @include utils.flex(column);
    justify-content: flex-start;
    min-width: 31.1rem;
    border-right: 1px solid vars.$lineColor;
    transition: all 0.5s ease-in-out;

    @media only screen and (width < 1300px) {
      flex-direction: row;
      flex-wrap: wrap;
      @include utils.justifyAlignSame(flex-start);
      @include utils.size(100%);
      @include utils.positioning(0, 0);
      overflow: hidden;
      z-index: 999;
      border-radius: 0.8rem;
    }

    span {
      @include utils.formatText(400, 1.6rem);
      @include utils.flex;
      justify-content: flex-start;
      gap: 1rem;
      padding: 1rem 2rem;
      color: vars.$grey;
      cursor: pointer;
      transition: color 0.25s ease-in-out;
      text-align: left;
      @include utils.size(100%, max-content);

      &:hover,
      &:is(.active) {
        color: vars.$white;
        svg {
          color: lighten(vars.$grey, 10%);
        }
      }

      //text icons
      svg {
        @include utils.size(2.4rem);
        color: darken(vars.$grey, 15%);
        transition: all 0.25s ease-in-out;
      }
    }

    //giving sub navigation items an indentation
    span:not(.heading) {
      @media only screen and (width < 1300px) {
        padding-left: 5rem;
      }
    }
    //hiding aside heading on large screens
    span:is(.heading),
    span.heading {
      @media only screen and (width > 1300px) {
        display: none;
      }
    }
  }

  /************************************************SWIPER SECTION************************************************/
  //main content for swipers
  section.slide-container {
    @include utils.size(calc(100% - 31.1rem), 100%);
    @media only screen and (width < 1300px) {
      width: 100%;
    }
  }

  //swiper
  .swiper {
    @include utils.size(100%);
    z-index: 0;
  }
  .swipper-wrapper {
    @include utils.flex;
    overflow: hidden;
  }

  .swiper-slide {
    text-align: center;
    @media only screen and (width < 1300px) {
      padding-inline: unset;
    }
    @media only screen and (width < 1200px) {
      justify-content: flex-start;
    }
    @include utils.flex(column);
    position: relative;

    /************************************************STYLING SCROLLBAR AND GENERAL SECTIONS************************************************/
    section {
      overflow-x: hidden;
      overflow-y: scroll;
      @include utils.size(100%);
      @include utils.flex(column);
      justify-content: flex-start;
      padding-top: 5vh;
      gap: 2vh;

      //styling headings
      h2 {
        @include utils.formatText(450, 4rem);
        @media only screen and (width < 768px) {
          font-size: 3rem;
        }
        @media only screen and (width < 500px) {
          font-size: 2.4rem;
        }
      }

      //adding spacing between sections on larger and wider screens
      @media only screen and (height > 922px) and (width > 600px) {
        gap: 5vh;
        padding-top: 5vh !important;
      }

      @media only screen and (width < 1300px) {
        height: calc(100% - 4.4rem);
      }

      //centering content for very long and large screens
      @media only screen and (1300px < width < 2000px) and (height <= 980px), screen and (height > 1080px) {
        justify-content: center !important;
        padding-top: 0 !important;
      }
      @media only screen and (width > 1300px) and (height > 980px), screen and (height > 1080px) {
        justify-content: flex-start !important;
      }
    }

    div,
    section {
      //scrollbar

      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgba(darken(vars.$grey, 20%), 0.5);
        border-radius: 10rem;
      }
    }
  }

  .swiper-pagination-bullet {
    background: vars.$white;
  }

  /************************************************STYLING LIST && LIST ITEMS************************************************/
  ul {
    @include utils.flex(column);
    @include utils.flex;
    list-style: none;
    padding-left: 0;
    padding-bottom: 0vh;
    gap: 1rem;
    width: 70%;
    flex-wrap: wrap;
    margin-left: 8%;
    @media only screen and (width < 1700px) {
      width: 80%;
      margin-left: 11%;
    }
    @media only screen and (width < 1500px) {
      width: 90%;
    }
    @media only screen and (width < 980px) {
      width: 100%;
      margin-left: 5%;
      column-gap: 4rem;
    }
    @media only screen and (width < 500px) {
      margin-left: 15%;
      gap: 0.5rem;
    }

    li {
      position: relative;
      padding-left: 1.5rem;
      margin-bottom: 0.5rem;
      @include utils.formatText(450, 1.8rem);
      width: 40%;
      text-align: left;
      @media only screen and (width < 1700px) {
        font-size: 1.6rem;
      }
      @media only screen and (width < 700px) {
        text-wrap: wrap;
      }
      @media only screen and (width < 500px) {
        font-size: 1.5rem;
      }
      @media only screen and (width < 500px) {
        width: 100%;
      }

      &::before {
        content: "";
        position: absolute;
        left: -2rem;
        top: -0.25rem;
        @include utils.size(3rem);
        @media only screen and (width < 500px) {
          @include utils.size(2.5rem);
          left: -1.5rem;
          top: -0.25rem;
        }
        background-repeat: no-repeat;
      }
    }
  }
}

.aside--open {
  height: calc(5 * 4.7rem) !important;
  padding-block: 1rem;
}
