//loading mixins and variable
@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;

.portfolio-about {
  @include utils.size(100%);
  @include utils.flex;
  padding-inline: 31.1rem;
  padding-inline: 15.1vw;
  gap: 8rem;
  background-color: red;
}
