//loading mixins and variable
@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;
/************************************************HEADING SECTION************************************************/
h1 {
  font-size: 7rem;
  @media only screen and (width < 1024px) {
    font-size: 5rem;
  }
  @media only screen and (width < 768px) {
    font-size: 4rem;
  }
  @media only screen and (width < 600px) {
    font-size: 3rem;
    text-align: center;
    padding-inline: 2vw;
  }
}

.portfolio-contact {
  @include utils.size(100%);
  @include utils.flex(column);

  justify-content: flex-start;
  padding-block: 5vh;
  gap: 5vh;

  section {
    @include utils.size(70%, max-content);
    @include utils.flex;
    gap: 5vh;
    @media only screen and (width < 768px) {
      width: 100%;
    }

    div,
    form {
      @include utils.size(100%, 52rem);
      @include utils.flex(column);
      justify-content: flex-start;
      padding-top: 5vh;
      border-radius: 5rem;
      h2 {
        font-size: 3rem;
        @media only screen and (width < 768px) {
          font-size: 2.4rem;
        }
        @media only screen and (width < 480px) {
          font-size: 2rem;
        }
      }
    }

    /************************************************INPUT DATA SECTION************************************************/
    .input-data {
      @include utils.blurbackdrop(vars.$blueDark, 0.75);
      border-radius: 5rem;
      align-items: flex-start;
      padding-inline: 2rem;
      gap: 1rem;
      width: 70%;
      border: 0.1rem solid vars.$lineColor;
      min-width: 50rem;
      @media only screen and (width < 768px) {
        min-width: unset;
        width: 90%;
        border-radius: 1rem;
      }
      @media only screen and (width < 480px) {
        padding: 3vh;
        @include utils.size(95%, max-content);
      }

      /*******************label*******************/
      label {
        padding: 1rem;
        padding-left: 0;
        gap: 0.5rem;
        @include utils.flex(column);
        align-items: flex-start;
        width: 100%;
        span {
          color: vars.$grey;
        }
        input,
        textarea {
          border-radius: 0.8rem;
          border: 0.1rem solid vars.$lineColor;
          background: vars.$blueDark;
          caret-color: vars.$grey;
          padding-left: 0.5rem;
          color: vars.$grey;
          outline: 0.2rem solid transparent;
          transition: outline 0.15s ease-in-out;
          font-size: 1.6rem;
          width: 100%;
          &:focus {
            outline: 0.2rem solid vars.$grey;
          }
        }

        input {
          height: 4.1rem;
        }
        textarea {
          padding: 1rem;
        }
      }

      button {
        margin-top: 2rem;
      }
    }
    /************************************************OUTPUT DATA SECTION************************************************/
    .output-data {
      @include utils.blurbackdrop(vars.$blueDark, 0.5);
      min-width: 65rem;
      @media only screen and (width < 1300px) {
        display: none;
      }

      pre {
        background-color: transparent !important;
        max-width: 100%;
        overflow: hidden !important;
        span {
          font-size: 1.6rem;
          text-wrap: wrap !important;
        }
      }
    }

    /************************************************SUCCESS BOX SECTION************************************************/
    .success {
      @include utils.blurbackdrop(vars.$blueDark, 0.5);
      @include utils.size(40rem);
      border: 0.1rem solid vars.$lineColor;
      justify-content: center;
      align-self: flex-start;
      padding: 0rem 1rem;
      h3 {
        font-size: 2.4rem;
      }

      span {
        @include utils.flex;
        text-align: center;
      }
      @media only screen and (width < 768px) {
        border-radius: 1rem;
      }
      @media only screen and (width < 480px) {
        @include utils.size(35rem);
      }
      @media only screen and (width < 440px) {
        @include utils.size(30rem);
        h3 {
          font-size: 2rem;
        }

        span {
          font-size: 1.4rem;
        }
      }
      @media only screen and (width < 310px) {
        @include utils.size(95vw);
      }
    }
  }
}
