//loading mixins and variable
@use "sass:color";
@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;

.about-experience {
  /************************************************EXPERIENCE SECTION************************************************/
  &--list {
    // background-color: red;
    @include utils.size(80%, max-content);
    padding-block: 2rem;
    @include utils.flex(column);
    gap: 5rem;
    padding-bottom: 5rem;
    // @media only screen and (width > 1900px) {
    //   width: 85%;
    // }

    article {
      @include utils.flex;
      justify-content: flex-start;
      // background-color: green;
      // background-color: vars.$blueDark;
      // @include utils.blurbackdrop(vars.$blueDark, 0.75);
      border: 1px solid vars.$orange;
      width: 100%;
      gap: 5rem;
      border-radius: 1rem;
      padding: 1rem;

      /************************************************EXPERIENCE CARD DATE SECTION************************************************/
      .date {
        color: vars.$grey;
        // background-color: red;
        align-self: flex-start;
        width: fit-content;
        font-size: 1.8rem;
        width: 17rem;
      }

      /************************************************EXPERIENCE CARD SECTION************************************************/
      .data {
        @include utils.flex(column);
        width: 83%;
        align-items: flex-start;
        gap: 1rem;

        h3 {
          font-size: 2rem;
        }

        ul {
          @include utils.flex(column);
          gap: 0.5rem;
          list-style-type: disc;
          margin-left: 5%;
          align-items: flex-start;
          li {
            text-align: left;
            // font-size: 1.5rem;
          }
        }
        /************************************************EXPERIENCE CARD SKILLS SECTION************************************************/
        .technologies {
          @include utils.flex;
          gap: 1rem;
          flex-wrap: wrap;
          padding: 1rem;
          span {
            font-size: 1.2rem;
            user-select: none;
            @media only screen and (width > 1900px) {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
