//loading mixins and variable
@use "sass:color";
@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;

.about-experience {
  /************************************************EDUCATION SECTION************************************************/

  &--list {
    // background-color: red;
    @include utils.size(70%, max-content);
    padding-block: 2rem;

    article {
      @include utils.flex;
      justify-content: flex-start;
      // background-color: green;
      gap: 3rem;

      .date {
        color: vars.$grey;
      }

      .data {
        @include utils.flex(column);

        ul {
          @include utils.flex(column);
          gap: 1rem;
          list-style-type: disc;
          li {
            text-align: left;
          }
        }
      }
    }
  }
}
