//loading mixins and variable
@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;

@keyframes animateLastChild {
  50% {
    opacity: 0;
    transform: translateY(10vh);
  }
  60% {
    opacity: 0;
    transform: translateY(-105vh);
  }

  100% {
    opacity: 1;
    transform: translateY(-95vh);
  }
}
@keyframes animateFourthChild {
  100% {
    transform: translateY(10rem);
  }
}
.portfolio-home {
  @include utils.size(100%);
  @include utils.flex;
  padding-inline: 31.1rem;

  &--left,
  &--right {
    @include utils.size(inherit);
    @include utils.size(100%);
    @include utils.flex(column);
    max-width: 50%;
    h1 {
      text-align: center;
    }
  }

  //name section of home page
  &--left {
    row-gap: 7.1rem;
    div {
      @include utils.size(100%, 50%);
      @include utils.flex(column);
      align-items: flex-start;
      height: max-content;
    }

    //stzyling main text and name
    div:first-of-type {
      justify-content: flex-end;
      span,
      h3 {
        @include utils.formatText(450, 1.8rem);
        color: vars.$milkyWhite;
        &:is(.title) {
          font-size: 6.2rem;
          transform: translateX(-0.75rem);
        }
      }
      h3 {
        font-size: 3.2rem;
        color: vars.$indigo;
      }
    }

    //styling lines of code
    div:last-of-type {
      pre {
        overflow: hidden !important;
        background: transparent !important;
        padding-left: 0 !important;
        span {
          @include utils.formatText(450, 1.6rem);
        }
      }
    }
  }

  //right section : code reel
  &--right {
    height: 100%;
    overflow: hidden;
    display: grid;
    gap: 2rem;
    div {
      @include utils.size(56rem, 18.2rem);
      @include utils.flex;
      text-align: center;
      transform: translateY(-10rem);
      cursor: pointer;
      user-select: none;
      border-radius: 1rem;
      transition: all 0.25s linear;
      background-color: rgba(#011627, 0.5);
      overflow: hidden;
      box-shadow: rgba(#1e2d3d, 0.25) 0px 8px 24px;
      &:hover {
        background-color: rgba(#011627, 1);
        transition: background-color 0.25s ease-in-out;
      }
      //editing code snippet container
      pre {
        @include utils.size(100%);
        background: transparent !important;
        border-radius: 1rem;
        overflow: hidden !important;
      }
      //fourth child
      &:not(:last-child) {
        animation: animateFourthChild 3s linear 3s 1 forwards;
      }
      &:last-child {
        animation: animateLastChild 3s linear 3s 1 forwards;
      }
    }
  }
}
