//loading mixins and variable
@use "sass:color";
@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;

.about-skills {
  padding-top: 2rem !important;
  /************************************************EDUCATION SECTION************************************************/

  /************************************************SOFT SKILLS SECTION************************************************/
  &--soft {
    @include utils.size(100%, max-content);
    gap: 2rem;
    @include utils.flex(column);

    // background-color: green;
    @media only screen and (width < 480px) {
      padding-bottom: 2rem;
    }

    ul {
      li {
        &::before {
          background: url("/assets/icons/star.svg");
        }
      }
    }
  }
  /************************************************HARD SKILLS SECTION************************************************/
  &--hard {
    @include utils.size(100%, max-content);
    @include utils.flex(column);

    //Icons container
    div {
      @include utils.flex;
      @include utils.size(80%, max-content);
      flex-wrap: wrap;
      padding: 2rem;
      padding-bottom: 3vh;
      gap: 1rem;
      @media only screen and (width < 768px) {
        width: 100%;
      }

      //single item
      a {
        @include utils.flex(row-reverse);
        transition: background-color 0.25s ease-in-out;
        background-color: color.scale(#011627, $lightness: 15%);
        padding: 0.75rem 1rem;
        border-radius: 3rem;
        gap: 1rem;
        &:hover {
          background-color: color.scale(#011627, $lightness: 25%);
        }
        @media only screen and (width < 768px) {
          font-size: 1.5rem;
        }
        @media only screen and (width < 500px) {
          font-size: 1.4rem;
        }
      }
    }
  }
}
