//loading mixins and variable
@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;

.about-skills {
  padding-top: 2rem !important;
  background-color: #000;
  /************************************************EDUCATION SECTION************************************************/
  h2 {
    @include utils.formatText(450, 4rem);
    @media only screen and (width < 768px) {
      font-size: 3rem;
    }
  }

  /************************************************SOFT SKILLS SECTION************************************************/
  &--soft {
    @include utils.size(100%, max-content);
    gap: 2rem;
    @media only screen and (width < 480px) {
      padding-bottom: 2rem;
    }

    ul {
      li {
        &::before {
          background: url("/assets/icons/star.svg");
        }
      }
    }
  }
}
