//loading mixins and variable
@use "../utils/mixins" as utils;
@use "../utils/variables" as vars;

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.about-summary {
  @include utils.size(100%);
  justify-content: space-evenly !important;
  header {
    @include utils.size(100%, 60%);
    @include utils.flex;
    padding-block: 4rem;
    justify-content: space-around;
    background: rgba(vars.$grey, 0.25);

    div {
      height: 100%;
      @include utils.flex(column);

      &:first-child {
        @include utils.formatText(450, 1.6rem);
        @include utils.formatText(450, 1.4rem);
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;
        width: 50%;

        h2 {
          font-size: 7rem;
          text-align: left;
        }
        p {
          width: 100%;
          @include utils.flex(column);
          align-items: flex-start;
          line-height: 2.4rem;
          span {
            text-align: left;
            &:is(:first-child) {
              margin-bottom: 2rem;
              font-size: 2.5rem;
            }
          }

          button {
            border-bottom: 1px solid darken(vars.$orange, 10%);
            position: relative;
            &:first-child {
              cursor: default;
            }
            &:last-child {
              &::after {
                transition: opacity 0.25s ease-in-out;
                opacity: 0;
                display: block;
                position: absolute;
                top: 115%;
                left: 0;
                content: "";
                @include utils.size(100%, 0.1rem);
                background-color: darken(vars.$orange, 10%);
              }
              &:hover {
                &::after {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      &:last-child {
        background: url("/assets/images/frank.png") no-repeat center;
        background-size: contain;
        @include utils.size(40rem);
        border-radius: 50%;
      }
    }
  }
  .summary-carousel {
    @include utils.size(100%, max-content);
    background: transparent;
    overflow: hidden;
    padding-block: 4rem;
    white-space: nowrap;
    position: relative;
    display: block !important;
    //pause carousel animation on hover
    &:hover {
      .logos-slide {
        animation-play-state: paused;
      }
    }

    //little portal on edges of carousel
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      @include utils.size(5rem, 100%);

      z-index: 2;
    }
    &::before {
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), vars.$blueDark);
    }
    &::after {
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), vars.$blueDark);
    }

    .logos-slide {
      display: inline-flex !important;
      flex-direction: row !important;
      width: max-content;
      animation: 60s slide infinite linear;
      img {
        height: 10rem;
        //spacing between logos
        margin: 0 4rem;
        cursor: pointer;
      }
    }
  }
}
